@media only screen and (min-width: 1600px) {
    .medical-center-banner-image {
        right: 232px;
    }
    .medical-center-banner-area .container-fluid {
        padding-left: 100px;
        padding-right: 100px;
        max-width: 1920px;
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1500px) {
    .medical-center-banner-image {
        right: 35px;
    }
}
@media only screen and (max-width: 767px) {
    .medical-center-banner-content h1 {
        font-size: 30px !important;
        color: #ffffff !important;
    }
    .medical-center-banner-area {
        position: relative ;
        z-index: 1 ;
        padding-top: 65px ;
        padding-bottom: 0 ;
    }
    .medical-center-banner-area::before {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #020D2B;
        z-index: -1;
        opacity: 0.3;
        
    }
    .medical-center-banner-area .container-fluid {
        padding-left: calc(1.5rem* 0.5);
        padding-right: calc(1.5rem* 0.5);
        max-width: 540px;
    }
    .medical-center-banner-content p {
        color: #ffffff;
    }
    .medical-center-banner-content p {
        color: #ffffff;
    }
    .medical-center-banner-image {
        position: relative;
        right: 0;
        bottom: 0;
        text-align: center;
        margin-top: 50px;
    }
    .plus-one, .plus-two {
        display: none;
    } 
    .medical-center-banner-image  img {
        border: none;
        border-radius: 0;
        box-shadow: none;
        height: auto;
        max-width: 100%;
    }
    .features-area .container-fluid {
        padding-left: calc(1.5rem* 0.5);
        padding-right: calc(1.5rem* 0.5);
        max-width: 540px;
    }
    .features-area {
        margin-top: 0;
    }
    .features-inner-area {
        padding: 25px 25px 0 25px;
    }
    .about-content .sub {
        font-size: 10px;
    }
    .about-content h2 {
        font-size: 25px;
        margin-bottom: 12px;
    }
    .list .description
    {
        text-align: left;
        margin-left: 0px;
    }
    .about-image {
        margin-left: 0;
        margin-top: 30px;
    }
    .about-image .counter-wrap .item {
        padding: 10px;
    }
    .services-area {
        margin-left: 0;
        margin-right: 0;
    }
    .section-title h2 {
        font-size: 28px;
    }
    .testimonial-top-content h2 {
        font-size: 28px;
    }
    .testimonial-lft-content  .testimonial-button {
        right: 10px;
        bottom: 10px;
    }
    testimonial-lft-content .testimonial-card {
        padding: 30px;
    }
    .testimonial-lft-content .testimonial-card p {
        font-size: 15px;
    }
    .testimonial-lft-content .testimonial-button li  {
        height: 25px;
        width: 25px;
        line-height: 25px;
        font-size: 15px;
    }
    .testimonial-lft-content .testimonial-card .info {
        margin-top: 22px;
    }
    .testimonial-rght-content {
        margin-top: 30px;
    }
    .why-choose-us-card img {
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .single-footer-widget h3 {
        font-size: 18px;
        margin-bottom: 22px;
    }
    .single-footer-widget.ps-5 {
        padding-left: 0 !important;
    }
    .footer-area img
    {
        max-width:60%;
    }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .medical-center-banner-content h1 {
        font-size: 55px !important;
        color: #ffffff !important;
    }
    .medical-center-banner-area {
        position: relative;
        z-index: 1;
        padding-top: 100px;
        padding-bottom: 0;
    }
    .medical-center-banner-area::before {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #020D2B;
        z-index: -1;
        opacity: 0.3;
    }
    .medical-center-banner-content p {
        color: #ffffff;
    }
    .medical-center-banner-area .container-fluid {
        padding-left: calc(var(--bs-gutter-x)* 0.5);
        padding-right: calc(var(--bs-gutter-x)* 0.5);
        max-width: 720px;
    }
    .medical-center-banner-image {
        position: relative;
        right: 0;
        bottom: 0;
        text-align: center;
        margin-top: 50px;
    }
    .features-card {
        padding: 25px;
    }
    .features-inner-area {
        padding: 25px 25px 0 25px;
    }
    .features-area {
        margin-top: 0;
    }
    .testimonial-rght-content {
        margin-top: 30px;
    }
    .plus-one, .plus-two {
        display: none;
    }
    .single-footer-widget.ps-5 {
        padding-left: 0 !important;
    }
    .footer-area img
    {
        max-width:40%;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .medical-center-banner-area {
        position: relative;
        z-index: 1;
        padding-top: 100px;
        padding-bottom: 0;
    }
    .medical-center-banner-area::before {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #020D2B;
        z-index: -1;
        opacity: 0.3;
    }
    .medical-center-banner-content h1 {
        color: #ffffff !important;
    }
    .medical-center-banner-content p {
        color: #ffffff;
    }
    .medical-center-banner-image {
        position: relative;
        right: 0;
        bottom: 0;
        text-align: center;
        margin-top: 50px;
    }
    .medical-center-banner-area .container-fluid {
        padding-left: calc(1.5rem * 0.5);
        padding-right: calc(1.5rem* 0.5);
        max-width: 960px;
    }
    .plus-one, .plus-two {
        display: none;
    }
    .footer-area img
    {
        max-width:37%;
    }
}